.name_style {
	font-size:20px !important;
	font-weight:bold;
	border-style:solid;
	border-width:1px;
	padding:3px;
	padding-right:150px;
}
select {
	
	font-weight:bold;
	
}

.result_style {
	font-size:40px; font-weight:bold;
}

.button_remove{
	background-color: #337ab7;
	border: none;
	color: white;
}



